* {
    font-family: Ubuntu;
}

.circle circle {
    fill: #2980b9;

    cursor: pointer;
}
.circle circle:hover {
    fill: #3498db;
}

.circle text.remove,
.circle circle.remove {
    fill: #c0392b;

    cursor: pointer;
}
.circle circle.remove:hover,
.circle text text.remove:hover {
    fill: #e74c3c;
}

.circle text.add,
.circle circle.add {
    fill: #27ae60;

    cursor: pointer;
}
.circle circle.add:hover,
.circle text text.add:hover {
    fill: #2ecc71;
}

.circle text,
.circle text tspan {
    text-anchor: middle;
    alignment-baseline: middle;

    fill: #ecf0f1;

    font-size: 14pt;
    font-weight: bold;

    cursor: pointer;
}