* {
    font-family: Ubuntu;
}

.circle circle {
    fill: #2980b9;
}
.circle:hover circle {
    fill: #3498db;
}
.circle text tspan {
    text-anchor: middle;
    alignment-baseline: middle;

    fill: #ecf0f1;

    font-size: 14pt;
    font-weight: bold;
}